<div class="d-flex justify-content-between  p-5">
  <div></div>
  <div>
    <h2 class="bittersweet-heading ">Sign Up</h2>
  </div>
  <div class="float-right">
    <%= render "devise/shared/links" %>
  </div>
</div>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :dog_name %>
    <%= f.input :owner_name %>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up", class: "btn-block btn-registration" %>
  </div>
<% end %>