<div class="navbar navbar-lewagon">
  <div class= "d-flex align-items-center w-100 mt-2 mb-3">
    <%= link_to raw('<i class="fas fa-home"></i>'), root_path %>
    <h2 class="center flex">Venues</h2>
    <div class="right flex">
      <% if user_signed_in? %>
          <%= link_to raw('<i class="fas fa-sign-out-alt"></i>'), destroy_user_session_path, method: :delete %>
      <% else %>
          <%= link_to raw('<i class="fas fa-sign-in-alt"></i>'), new_user_session_path %>
      <% end %>
    </div>
   </div>
  <div class= "w-100">
    <%= simple_form_for :search, url: root_path, method: :get do |f| %>
      <div>
        <button type="button" class="btn-block btn-lp" data-toggle="modal" data-target="#myModal">
          Filter Venues
        </button>
        <%= render 'shared/modal' %>
      </div>
      <% end %>
  </div>
</div>
