<div class="navbar navbar-lewagon">
  <div class= "d-flex justify-content-between w-100 mt-2 mb-3">
    <%= link_to 'Back', :back, class: "link" %>
    <h2>Venues</h2>
    <% if user_signed_in? %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete %>
    <% else %>
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    <% end %>
   </div>
  <div class= "w-100">
    <%= simple_form_for :search, url: root_path, method: :get do |f| %>
      <div>
        <button type="button" class="btn-block btn-lp" data-toggle="modal" data-target="#myModal">
          Open modal
        </button>
        <%= render 'shared/modal' %>
      </div>
      <% end %>
  </div>
</div>
