<div class="container">
  <div class="hold-here">
    <div class="img-map-box">
      <div class="show-img-ven">
        <% if @venue.photos.attached? %>
          <%= cl_image_tag @venue.photos.first.key, crop: :fill %>
        <% else%>
          <img src="https://source.unsplash.com/500x400/?cafe" alt="a cafe">
        <% end %>
        <%= link_to 'Map', 'javascript:;', class: "img-toggle" %>
      </div>
      <div class="map-wrapper hidden">
        <div id="map"
             class= "m-0 white-border"
           style="width: 100%; height: 216px;"
           data-markers="<%= @markers.to_json %>"
           data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
        <%= link_to 'Picture', 'javascript:;', class: "tog-back" %>
      </div>
    </div>
    <div id="add-new">
      <%= link_to 'ADD TAG', 'javascript:;', class: 'btn-block btn-lp', id: 'tag-btn' %>
      <div id='form-box' class="hidden">
        <% if policy(Venuetag).create? %>
          <%= render './venuetags/form' %>
        <% end %>
      </div>
    </div>
    <div class="tags-box">
      <% @venue.tags.sort.reverse.each do |tag| %>
        <p class="tag">#<%= tag.name %></p>
      <% end %>
    </div>
    <div class="info-box">
      <p id="adrs"><%= @venue.address %></p>
      <p><%= @venue.description %></p>
    </div>
    <div class="review-photo-tgl">
      <%= link_to 'Reviews', 'javascript:;', id: "reviews-btn", class: "active" %>
      <%= link_to 'Photos', 'javascript:;', id: "photos-btn" %>
    </div>
      <div class="review-photo-dsply">
        <div class="reviews">
          <% @venue.reviews.each do |review| %>
            <%= link_to review_path(review), id: "link-review" do %>
              <div class="notification">
                <div class="av-wrapper">
                  <div class="avatar-large">
                    <% if review.user.photo.attached? %>
                      <%= cl_image_tag review.user.photo.key, crop: :fill, class: "avatar-large"%>
                    <% else %>
                      <img src="https://source.unsplash.com/56x56/?dog" style="crop:fill" class="avatar-large">
                    <% end %>
                  </div>
                </div>
                <div class="notification-content">
                    <div class="name-date-rev">
                      <div>by: <%= review.user.dog_name %></div>
                      <div class="paw">
                        <% review.rating.times do %>
                          <i class="fas fa-paw"></i>
                        <% end %>
                      </div>
                      <small><%= review.created_at.strftime("%B #{review.created_at.day.ordinalize}") %></small>
                    </div>
                    <p class='review-comment'><%= review.comment %></p>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="photos hidden">
          <% if @venue.photos.attached? %>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
              <ol class="carousel-indicators">
                <% @venue.photos.each do |photo| %>
                  <% slide = 0 %>
                  <% if @venue.photos.first.id == photo.id %>
                    <li data-target="#carouselExampleIndicators" data-slide-to=<% "#{slide}" %>, class="active"></li>
                    <% slide += 1 %>
                  <% else %>
                    <li data-target="#carouselExampleIndicators" data-slide-to=<% "#{slide}" %>></li>
                    <% slide += 1  %>
                  <% end %>
                <% end %>
              </ol>
              <div class="carousel-inner">
                <% @venue.photos.each do |photo| %>
                  <% if @venue.photos.first.id == photo.id %>
                    <div class="carousel-item active">
                      <%= cl_image_tag photo.key, crop: :fill, class: "d-block w-100" %>
                    </div>
                  <% else %>
                    <div class="carousel-item">
                      <%= cl_image_tag photo.key, crop: :fill, class: "d-block w-100" %>
                    </div>
                  <% end %>
                <% end %>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          <% else%>
            <em>No photos of this venue have been shared.</em>
          <% end %>
        </div>
    </div>
  </div>
  <div class="container foot-bar">
    <% if policy(Review).create? %>
      <%= link_to 'WRITE REVIEW', new_venue_review_path(@venue.id), class: "btn-block btn-lp" %>
    <% end %>
  </div>
</div>
