<div class="container">
  <div class="show-img">
    <% if @venue.photos.attached? %>
      <%= cl_image_tag @venue.photos.first.key, crop: :fill %>
    <% else%>
      <img src="https://source.unsplash.com/500x400/?cafe" alt="a cafe">
    <% end %>
  </div>
  <div class="tags-box">
    <% @venue.tags.each do |tag| %>
      <p class="tag">#<%= tag.name %></p>
    <% end %>
  </div>
  <div class="review-photo-tgl">
    <%= link_to 'Reviews', 'javascript:;', id: "reviews-btn", class: "active" %>
    <%= link_to 'Photos', 'javascript:;', id: "photos-btn" %>
  </div>
    <div class="review-photo-dsply">
      <div class="reviews">
        <% @venue.reviews.each do |review| %>
          <div class="notification">
            <%= cl_image_tag review.photo.key, crop: :fill, class: "avatar-square" %>
            <div class="notification-content">
             <!--  data migration to add time of review -->
              <p><small>14th January<!-- review.time --></small></p>
              <!-- data migration to add review title -->
              <h2>Title goes here<!-- review.title --></h2>
              <p><%= review.comment %></p>
            </div>
  <!--      <div class="notification-actions">
              <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
              <a href="#">Delete <i class="far fa-trash-alt"></i></a>
            </div> -->
          </div>
        <% end %>
      </div>
      <div class="photos hidden">
        <% if @venue.photos.attached? %>
          <% @venue.photos.each do |photo| %>
            <%= cl_image_tag photo.key, crop: :fill %>
          <% end %>
        <% else%>
          <em>No photos of this venue have been shared.</em>
        <% end %>
      </div>
  </div>
</div>
