<!DOCTYPE html>
<html>
  <head>
    <title>CityDog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application' %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
  <% if request.fullpath == "/" %>
    <%= render 'shared/navbar_root' %>
  <% else request.fullpath.match('') %>
    <%= render 'shared/navbar' %>
  <% end %>
    <%= render 'shared/flashes' %>
    <%= yield %>
  </body>
</html>
