<!DOCTYPE html>
<html>
  <head>
    <title>CityDog - Friendly Venues for Furry Friends</title>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application' %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

<body>
    <%= render 'shared/flashes' %>
    <% if params[:controller].match?(/devise/) %>
      <div class="container">
        <%= yield %>
      </div>
    <% else %>
        <% if request.fullpath == "/" %>
          <%= render 'shared/navbar_root' %>
        <% elsif request.fullpath.match('venues($|\?.+)') %>
          <%= render 'shared/navbar_index' %>
        <% elsif request.fullpath.match('venues\/\d+') || request.fullpath.match('reviews\/\d+') %>
          <%= render 'shared/navbar_basic' %>
        <% end %>
        <%= yield %>
    <% end %>
  </body>
